.input {
  width: 100%;
  height: 42px;
  padding: 8px 12px;
  border: 0;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  box-sizing: border-box;

  background-color: #404040;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: #fff;

  outline: none;

  &::placeholder {
    color: #999999;
  }
}
