.header {
  font-size: 30px;
  font-weight: 700;
  line-height: 36.31px;
}

.paragraph {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
  width: 100%;
}

.fundsValue {
  font-size: 24px;
  font-weight: 4 00;
  line-height: 29.05px;
  margin-top: 10px;
}

.rowAlignLeft {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
  gap: 5px;
  width: 100%;
}

.headerSecondary {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-transform: uppercase;
}

.buttonCopy {
  padding: 0;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  color: #fff;
  margin-left: 6px;
}
